/* write your override styles here */
body{

    background-color: blue;
}
.tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 622px;
}
.tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7 {

    position: relative;
        top: 0;
        left: 0;
        width: 980px;
        height: 622px;

}
#wall{

    border: 15px solid red;
}